#!/bin/bash
## Instructions:
## Copy this file to .env and change VIRTUAL_HOST value to what you want.

# PHP Container.
PHP_TAG=7.4
CONTAINER_UID=1000
PHP_POST_MAX_SIZE=100M
PHP_UPLOAD_MAX_FILESIZE=100M

# DB Container.
DB_TAG=10.5
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=drupal

# Solr Container.
SOLR_ENABLE=0
SOLR_TAG=6-alpine

# Memcached Container.
MEMCACHED_ENABLE=0
MEMCACHED_TAG=1.6-alpine

# Nginx Container.
NGINX_TAG=alpine

# CLI Container.
CLI_TAG=7.4

# General Vars.
PROJECT_ROOT=~/development/chirripo
PROJECT_NAME=chirripo
PORT_PREFIX=100
